/*Colors:*/
/*Black 1 - #0b090a*/
/*Black 2 - #161a1d*/
/*Red 1 - #ba181b*/
/*Red 2- #35383b*/
/*White - #ffffff*/

/*Genérico*/

body {
    font-family: "Epilogue", sans-serif;
    color: #0b090a;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/*Buttons Settings*/

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
}

.btn-sm {
    padding: 12px 24px;
    font-size: 0.9rem;
}

.btn-primary {
    background-color: #ba181b;
}

.btn-primary:hover {
    background-color: #35383b;
    color: #ffffff;
}

.btn-outline {
    border: 2px solid #ffffff;
    background-color: transparent;
}

.btn-outline:hover {
    border: 2px solid #35383b;
}

.overtitle {
    color: #ba181b;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.title {
    font-size: 44px;
    line-height: 56px;
    font-weight: 700;
}

/*Layout*/

#header-container {
    background-color: #0b090a;
}

.header {
    color: #ffffff;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*HERO SECTION*/

#hero-container {
    background-color: #0b090a;
    color: #ffffff;
    padding: 0 72px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 42px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 96px 0;
   
}

.hero-text__title {
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
}

.hero-text__subtitle {
    font-size: 30px;
    line-height: 38px;
    max-width: 520px;
}

.hero-img {
    flex: 1;
    align-self: flex-end;
    margin-top: 30px;
}

.hero-img img {
    max-width: 100%;
}

/*SERVICES SECTION*/

#services-container {
    padding: 96px 72px;
}

.services-list {
    display: flex;
    gap: 32px;
    margin-top: 48px;
}

.services-card {
    gap: 8px;
    background-color: #f5f3f4;
    border: 2px solid #d3d3d3;
}

.services-card img {
    width: 100%;
}

.services-card__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 40px
}

.services-card__text h3 {
    font-size: 25px;
    font-weight: 700;
}

.services-card__text p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

/*LOCATION SECTION*/

#location-container {
    background-color: #f5f3f4;
}

#location-container .location {
    padding: 96px 72px 48px;
}

#location-container address {
    display: flex;
    align-items: center;
    gap: 12px;
}


/*RODAPE*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 72px;
    line-height: 30px;
    background-color: #0b090a;
    color: #ffffff;
}

/*.footer-logo{
        display: flex;
        flex-direction: column;
        gap: auto;
    }*/

.footer-icons {
    display: flex;
    gap: 10px;
}

/*RESPONSIVIDADE*/

@media screen and (max-width: 768px) {

    /*CONTAINER GERAL*/
    .container {
        margin: 0 auto;
    }

    /*HEADER*/   
    .btn-sm {
        display: none;
    }

    /*HERO*/
    .hero{
        /*Aqui tá tendo um problema para centralizar os elementos nessa div*/
        gap: 10px;
        display: block;
        padding: 50px 0 50px 0;
    }


    .hero-text {
        align-items: center;
        gap: 25px;
        padding: 96px 10px;
    }

    .hero-text__title {
        font-size: 48px;
        line-height: 54px;
        font-weight: 700;
        text-align: center;
    } 

    .hero img{
        display: none;
    }
    /*Por algum motivo, o subtitle noa ta modificando, então não consigo alinhar todo munodo no centro*/

    /*.hero-text__subtitle {
        font-size: 40px;
        line-height: 38px;
        max-width: 520px;
        text-align: center;
    }*/


    /*SERVICES SECTION*/

    .services-list {
        display: flex;
        flex-direction: column;
        gap: 56px;
        margin-top: 48px;
    }

    /*FOOTER*/

    .footer-essencials{
        align-items: center;    
    }

    footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 96px 72px;
    line-height: 20px;
    background-color: #0b090a;
    color: #ffffff;
    text-align: center;
}

.footer-logo{
    margin-bottom: 20px;
}


.footer-icons {
    display: flex;
    gap: 10px;
}
    






}